<%= form_for(petition, url: @url) do |f| %>
  <% if petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
      <% petition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p><%= f.label :title, 'Titulo' %></p>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p><%= f.label :text, 'Descripción de tu petición' %></p>
    <%= f.text_area :text, class: 'form-control', rows: 12 %>
  </div>

  <div class="form-group">
    <%= f.label :creator_name, 'Tu nombre o nombre de la organización a la que representas' %>
    <%= f.text_field :creator_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :creator_email, 'Tu correo electrónico o de la organización a la que representas'  %>
    <%= f.text_field :creator_email, class: 'form-control' %>
  </div>

  <div class="actions">
    <button class="btn btn-info" type="submit">Enviar</button>
  </div>
<% end %>
