<div class="row">
  <p id="notice"><%= notice %></p>

  <h1>Peticiones</h1>

  <%= link_to 'Nueva petición', new_petition_path, class: 'btn btn-info' %>
</div>

<div class="row">
  <div class="petition">
  <% @petitions.each do |petition| %>
    <h3>
      <%= link_to petition.title, petition_path(petition.public_fragment) %>
    </h3>
    <div class='text'><%= petition.text.slice(0, 200) + '...' %></div>
    <% if Rails.env.development? %>
      <%= link_to 'private link', private_petition_path(petition.private_fragment) %>
    <% end %>
  <% end %>
  </div>
</div>

<% if @petitions.count > 5 %>
  <div class="row">
    <br>
    <%= link_to 'Nueva petición', new_petition_path, class: 'btn btn-info' %>
  </div>
<% end %>
