<div class="row">
  <p id="notice"><%= notice %></p>

  <h1>Peticiones</h1>
  <h2>¿Tienes una petición que te gustaría que la gente firmara electrónicamente?</h2>
  <h3><%= link_to 'Sube una nueva petición', new_petition_path %><h3>

</div>

<div class="row">
  <div class="petition">
  <% @petitions.each do |petition| %>
    <h3>
      <%= link_to petition.title, petition_path(petition.public_fragment) %>
    </h3>
    <div class='text'><%= petition.text.slice(0, 300) + '...' %>
    </br>
    <%= link_to 'leer más', petition_path(petition.public_fragment) %>
    </div>
    <%= link_to 'Firmar petición', new_petition_signer_path(petition_id: petition.public_fragment), class: 'btn btn-success' %>

    <% if Rails.env.development? %>
      <br>
      <%= link_to 'private link', private_petition_path(petition.private_fragment) %>
    <% end %>
  <% end %>
  </div>
</div>

<% if @petitions.count > 5 %>
  <div class="row">
    <br>
    <%= link_to 'Nueva petición', new_petition_path, class: 'btn btn-info' %>
  </div>
<% end %>
