<p id="notice"><%= notice %></p>

<div id="content">
  <%= render 'info' %>

  <p>
    <strong>Creator email:</strong>
    <%= @petition.creator_email %>
  </p>

  <p>
    Este es el link que tienes que compartir para que la gente firme tu petición, compártelo con quién tu quieras.<br />
    <strong>Link Público: <%= public_petition_url(@petition.public_fragment) %></strong>
  </p>

  <p>
   El siguiente es el link para que puedas monitorear el avance de tu petición y bajar la lista de firmantes. No compartas este link con nadie.<br />
    <strong>Link Privado: <%= private_petition_url(@petition.private_fragment) %></strong>
  </p>

  <%= link_to 'Edit', edit_petition_path(@petition) %> |
  <%= link_to 'Back', petitions_path %>
</div>
