<p id="notice"><%= notice %></p>

<div id="content">
  <%= render 'info' %>

  <p>
    <strong>Creator email:</strong>
    <%= @petition.creator_email %>
  </p>

  <p>
    Use the link below to invite people to sign you petition.<br />
    <strong>Public Link: <%= public_petition_url(@petition.public_fragment) %></strong>
  </p>

  <p>
    The following link allows to view private data and even to edit your petition so, don't share it publicly.<br />
    <strong>Private Link: <%= private_petition_url(@petition.private_fragment) %></strong>
  </p>

  <%= link_to 'Edit', edit_petition_path(@petition) %> |
  <%= link_to 'Back', petitions_path %>
</div>
