%h1 Firmar Petición
%h3= @petition.title
= link_to 'Regresar', root_path

= bootstrap_form_for(@signer, url: @url) do |f|
  .row
    .form-group.col-sm-6
      = f.text_field :name, class: 'form-control'
    .form-group.col-sm-6
      = f.text_field :last_name, class: 'form-control'
  .row
    .form-group.col-sm-6
      = f.text_field :second_name, class: 'form-control'
    .form-group.col-sm-6
      = f.email_field :email, class: 'form-control'
  .row
    .form-group.col-sm-6
      = f.text_field :tax_id, class: 'form-control'
    .form-group.col-sm-6
      = f.text_field :ce, class: 'form-control'
  .row
    .form-group.col-sm-6
      = f.text_field :ocr, class: 'form-control'
    .form-group.col-sm-6
      = f.text_field :ne, class: 'form-control'

  .actions.row
    .col-sm-12
      %button.btn.btn-info{:type => 'submit'} Enviar
